/* 
    Document   : sisectic
    Created on : 10/12/2012, 01:38:31 PM
    Author     : victor aguilar
    Description:
        Purpose of the stylesheet follows.
*/

body{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #CBCFE7 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #CBCFE7 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #CBCFE7 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CBCFE7), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #CBCFE7 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #CBCFE7 0%, #FFFFFF 100%);
	background-repeat: no-repeat;
	background-color: #CBCFE6;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 9pt;
	color: #262D4A;
}

input[type='text'], input[type='submit'], input[type='password']{
	border: solid #336699 thin;
}
input:focus{
	background-color: #DFE4F4;
}

button{
	border: solid #336699 thin;
	background-color: #DFE4F4;
}

select{
	width:100%;
}

h1{
text-align:center;
}

table tr th{
	padding-top:15px;
	text-align:left;
	font-size:14px;
}

.resaltar{
	font-weight: bold;
	font-size:16px;
	font-family: monospace;
}

#wrapper{
	width:975px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	background-color:white;
}


#header{
	background-image: url('header.png');
	width:975px;
	height:100px;
	margin:0px;
}

#footer{
	background-image: url('footer.png');
	background-position: top center;
	width:975px;
	height:46px;
	margin:0px;
}

#container{
padding:15px;
margin:0px
}


/*
	Login
*/
#login table{
	width: 260px;
	height: 100px;
	padding:10px;
	background-color:red;
	margin-top:200px;
	margin-bottom:200px;
	border-collapse: collapse;
	box-shadow: 10px 10px 5px #888888;
}

#login table td{
	background-color: #DFE4F4;
	margin-right:0px;
	text-align:right;
	padding: 10px 30px 5px 10px;
}

#login table th{
	background-color: #336699;
	padding:5px;
}

#login input{
	width:auto;
}

/*
	Menu
*/

#menu{
	background-color:#16609F;
	height:30px;
}

#menu ul{
	margin:0px;
	padding-left:5px;
	display: block;
}

#menu ul li{
	display: inline-block;
	position:relative;
	margin-right:20px;
}
#menu ul li a{
	display:block;
	padding: 7px 0px 8px 0px;
	text-decoration: none;
	color: white;
	
}

#menu ul li ul{
	display: none;
}

#menu ul li:hover ul{
	display: inline-block;
}

#menu ul li:hover ul li{
	display: block;
}

.submenu{
	position:absolute;
	left:-5px
}

#menu ul li ul.submenu li a{
	display:block;
	width: 200px;
	padding:5px;
	background-color:#16609F;
}

#menu ul li ul.submenu li a:hover{
	background-color:#88C2F2;
}



/*
	Clases
*/

.center{
	margin-right:auto;
	margin-left:auto;
}

label.error, p.error,.exito{
	font-size: 14px;
	padding:3px;
	color:red;
	font-weight: bold;
	text-align:center;
	height:16px;
}


.exito{
	color: green;
}

table{
	border-collapse: collapse;
}
table tr td input{
	width:100%;
}

table tr td input[type='radio']{
	width:auto;
	margin-right:30px;
}

table input[type="submit"]{
	display: block;
	width:auto;
	margin-left:auto;
	margin-right:0px;
}

table tr td{
	padding-top:20px;
	padding-right:10px;
}

/*
	Alta de Ficha
*/

#alta_de_ficha table{
	width:900px;
}

#alta_de_ficha col{
	width: 350px;
}

#alta_de_ficha col.labels{
	width:80px;
}

/*
	Consulta de fichas
*/

#consulta_de_fichas table col.labels{
	width:100px;
}

#consulta_de_fichas table col{
	width:300px;
}

#fichas{
	overflow: auto;
	max-height: 400px;
}

#fichas table{
	margin:15px;
}

table.coloreada th{
	background-color: #16609F;
	border: solid #336699 thin;
	padding:6px;
	color: white;
}

table.coloreada td{
	border: solid #336699 thin;
	padding:6px;
}

table.coloreada tr{
	background-color: white;
}

table.coloreada tr:nth-child(2n){
	background-color: #DFE4F4;
}

.borrar{
	color:red;
}

#pendientes{
	width:700px;
}

#pendientes tr td div{
	position: relative;
}

#pendientes tr td div div{
	position: absolute;
	display: none;
	left: 700px;
	top: -60px;
}

