body {
  background: url(img/fondo.png);
  font-family: Tahoma, Arial, sans-serif;
  font-size: 9pt;
  color: #262D4A;
  margin: 0px;
  border: 0
}


a:link {
  font-family: "MS Sans Serif", sans-serif;
  color: #4C60A8;
  font-size: 9pt;
  text-decoration: none
}

a:visited {
  font-family: "MS Sans Serif", sans-serif;
  color: #4C60A8;
  font-size: 9pt;
  text-decoration: none
}

a:hover {
	text-decoration: underline;
    color: #7C8CC2
}

.textoalt {
  font-family: "MS Sans Serif", sans-serif;
  color: #484848;
  font-size: 9pt;
  text-decoration: none
}

td {
  font-size: 9pt
}

.textoenfasis {
  font-size: 10pt
}

input {
  background-color: #FFFFFF;
  color: #4C60A8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  border-color: #4C60A8;
  border: 1px solid
}

.input2 {
  background-color: #FFFFFF;
  color: #4C60A8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  border-color: #4C60A8;
  border: 1px solid
}


h1 {
  color: #4C60A8;
  font-size: 12pt;
  font-weight: bold
}
h2 {
  color: #4C60A8;
  font-size: 10pt;
  font-weight: bold
}


.tableheader {
  color: #999999;
  background-image: url(img/fondotableheader.gif);
  font-weight: bold;
  text-align: center;
  padding: 2px
}

.button {
  font: 10pt Tahoma, Arial, sans-serif;
  color: #FFFFFF;

  padding-bottom: 2;
  padding-top: 2;
  padding-left: 15;
  padding-right: 15;
  border: thin solid #494949
}
.lista {
  border: 1px solid #4C60A8;
  color: #4C60A8;
  font-size: 8pt
}


<!-- Barra del menú -->
div.menuBar,
div.menuBar a.menuButton,
div.menu,
div.menu a.menuItem {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
}
div.menuBar {
  background-color: #16609F;
  border: 2px solid;
  border-color: #16609F #16609F #16609F #16609F;
  padding: 4px 2px 4px 2px;
  text-align: left;
}
div.menuBar a.menuButton {
  background-color: transparent;
  border: 1px solid #16609F;
  color: #FFFFFF;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 2px 6px 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}
div.menuBar a.menuButton:hover {
  background-color: transparent;
  border-color: #f0f0f0 #909090 #909090 #f0f0f0;
  color: #FFFFFF;
}
div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
  background-color: #a0a0a0;
  border-color: #909090 #f0f0f0 #f0f0f0 #909090;
  color: #ffffff;
  left: 1px;
  top: 1px;
}
div.menu {
  background-color: #4696CB;
  border: 2px solid;
  border-color: #4696CB #4696CB #4696CB #4696CB;
  left: 0px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}
div.menu a.menuItem {
  color: #000000;
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}
div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #000080;
  color: #ffffff;
}
div.menu a.menuItem span.menuItemText {}
div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}
div.menu div.menuItemSep {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}









