/* CSS Document */
body{
		margin:5pt;
        padding:5pt;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 10pt;
		background: transparent;
		
}

H1.SaltoDePagina{
	 page-break-after: always
}

DIV.H1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 4pt;
}


DIV.H2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

DIV.H2ENC{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	font-weight: bold;
}

DIV.H3{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

DIV.H3ENC{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}

DIV.H4{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
}


DIV.H5{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 6.5pt;
}
